package io.swagger.annotations;

/**
 * Stub annotation to replace Swagger dependency.
 * This annotation has no effect and is only present for compilation.
 */
public @interface ApiModelProperty {
    String value() default "";
    String name() default "";
    String dataType() default "";
    boolean required() default false;
    String example() default "";
}
