package io.swagger.annotations;

/**
 * Stub annotation to replace Swagger dependency.
 * This annotation has no effect and is only present for compilation.
 */
public @interface ApiModel {
    String value() default "";
    String description() default "";
}
