package {{package}}

import com.fasterxml.jackson.annotation.JsonProperty
{{#imports}}
import {{import}}
{{/imports}}
{{#serializableModel}}
import java.io.Serializable
{{/serializableModel}}

{{#models}}
{{#model}}
{{#isEnum}}
{{#additionalEnumTypeAnnotations}}
{{{.}}}
{{/additionalEnumTypeAnnotations}}
{{#vendorExtensions.hasEnumFields}}
enum class {{classname}}({{#vendorExtensions.enumFields}}val {{name}}: {{type}}{{^-last}}, {{/-last}}{{/vendorExtensions.enumFields}}){{#serializableModel}} : Serializable{{/serializableModel}} {
{{#allowableValues}}
{{#enumVars}}
    {{name}}({{{constructorArgs}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}
{{/vendorExtensions.hasEnumFields}}
{{^vendorExtensions.hasEnumFields}}
enum class {{classname}}(val value: String){{#serializableModel}} : Serializable{{/serializableModel}} {
{{#allowableValues}}
{{#enumVars}}
    @JsonProperty({{{value}}})
    {{name}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}
{{/allowableValues}}

    override fun toString(): String = value

    companion object {
        fun fromValue(value: String): {{classname}}? = entries.firstOrNull { it.value.equals(value, ignoreCase = true) }
    }
}
{{/vendorExtensions.hasEnumFields}}
{{/isEnum}}
{{^isEnum}}
{{#additionalModelTypeAnnotations}}
{{{.}}}
{{/additionalModelTypeAnnotations}}
data class {{classname}}(
{{#vars}}
    @JsonProperty("{{baseName}}")
    val {{{name}}}: {{{dataType}}}{{^required}}?{{/required}}{{#isContainer}} = {{#containerDefaultToNull}}null{{/containerDefaultToNull}}{{^containerDefaultToNull}}{{#isMap}}emptyMap(){{/isMap}}{{^isMap}}emptyList(){{/isMap}}{{/containerDefaultToNull}}{{/isContainer}}{{^isContainer}}{{^required}} = null{{/required}}{{/isContainer}}{{^-last}},{{/-last}}
{{/vars}}
){{#serializableModel}} : Serializable{{/serializableModel}}
{{/isEnum}}
{{/model}}
{{/models}}
